h1 {
  text-align: center;
}

.page-container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
  height: 100%;
  width: 44%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* PdfList */
.key-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.key-row {
  width: 100%;
  padding: 3px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.key-label {
  color: grey;
  width: 90px;
}

.key-input {
  width: 100px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
}

.key-button {
  padding: 4px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.key-button:hover {
  background-color: rgb(84, 84, 84);
}

.pdf-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.pdf-list li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.pdf-list input {
  margin-right: 10px;
}

/* Chatroom */
.chatroom-container {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.message {
  padding: 5px 10px;
  border-radius: 4px;
  width: fit-content;
  max-width: 90%;
}

.message-left {
  margin-left: 20px;
  background-color: #8acce3;
}

.message-right {
  margin-left: auto;
  margin-right: 20px;
  background-color: #ffffff;
}

.chat-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.chat-box textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
  padding: 10px;
  font: inherit;
}

.chat-box button {
  padding: 10px;
  background-color: #30a2cc;
  color: white;
  font-size: large;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-box button:hover {
  background-color: #0d6585;
}